---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="The world's first superintelligence will be a Minecraft bot">  
  <p style="font-size: 1rem; color: #666;">
    Full length argument in progress!
  </p>
  <div style="margin-top: 1.7rem; color: #999; font-size: 0.97rem; line-height: 1.6;">
    <em>
      Coming soon:
      <br />
      1. An AI that is better than us at Minecraft is a superintelligence<br />
      2. An AI that is not better than us at Minecraft is not a superintelligence<br />
      3. Training an AI specifically on Minecraft is the probably the best way to achieve this
    </em>
  </div>
